*.apk
*.txt
*.log
*.iml
.gradle
/.settings

.idea
/.idea
/intermediates
apks
/app/release
/app/debug
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/module-andeaface/build/
/library-socket/build/
.externalNativeBuild
.cxx
.svn
.svn1
/faceplatform-release/build/
local.properties
class_files.txt
/.settings/